<h1>Listing estadisticasbazares</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Bazar</th>
    <th>Empresas</th>
    <th>Consultas</th>
    <th>Clustersactivos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estadisticasbazares.each do |estadisticasbazar| %>
  <tr>
    <td><%= estadisticasbazar.fecha %></td>
    <td><%= estadisticasbazar.bazar_id %></td>
    <td><%= estadisticasbazar.empresas %></td>
    <td><%= estadisticasbazar.consultas %></td>
    <td><%= estadisticasbazar.clustersactivos %></td>
    <td><%= link_to 'Show', estadisticasbazar %></td>
    <td><%= link_to 'Edit', edit_estadisticasbazar_path(estadisticasbazar) %></td>
    <td><%= link_to 'Destroy', estadisticasbazar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estadisticasbazar', new_estadisticasbazar_path %>
