<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @estadisticasconsulta.fecha %>
</p>

<p>
  <b>Bazar:</b>
  <%= @estadisticasconsulta.bazar_id %>
</p>

<p>
  <b>Consulta:</b>
  <%= @estadisticasconsulta.consulta %>
</p>


<%= link_to 'Edit', edit_estadisticasconsulta_path(@estadisticasconsulta) %> |
<%= link_to 'Back', estadisticasconsultas_path %>
