<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @estdadisticasbazar.fecha %>
</p>

<p>
  <b>Bazar:</b>
  <%= @estdadisticasbazar.bazar_id %>
</p>

<p>
  <b>Empresas:</b>
  <%= @estdadisticasbazar.empresas %>
</p>

<p>
  <b>Consultas:</b>
  <%= @estdadisticasbazar.consultas %>
</p>

<p>
  <b>Clustersactivos:</b>
  <%= @estdadisticasbazar.clustersactivos %>
</p>


<%= link_to 'Edit', edit_estdadisticasbazar_path(@estdadisticasbazar) %> |
<%= link_to 'Back', estdadisticasbazares_path %>
